<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='Image/LogoBingo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleTablero.css')}}">
    <title>Tablero</title>
</head>

<body>
    <h1 style="text-align: center;">Bingo</h1>
    <div class="button-container">
        <form method="POST" action="/tablero/">
            <input type="hidden" name="action" value="start">
            <button type="submit" {% if juego_iniciado %}disabled{% endif %}>Iniciar</button>
        </form>
        <!-- En el formulario de pausa -->
        <form method="POST" action="/tablero/">
            <input type="hidden" name="action" value="stop">
            <button type="submit" {% if not juego_iniciado %}disabled{% endif %}>Parar</button>
        </form>
        <form method="POST" action="/tablero/">
            <input type="hidden" name="action" value="reiniciar">
            <button type="submit">Reiniciar</button>
        </form>
        <form method="POST" action="/tablero/">
            <input type="hidden" name="action" value="ordenar">
            <button type="submit" id="ordenarNumeros" {% if not juego_iniciado %}disabled{% endif %}>Ordenar</button>
        </form>
        <a href="{{ url_for('index') }}">Volver</a>
    </div>
    <div>
        {% if current_number %}
        <h2 style="text-align: center;">Número actual: <span class="selected-number">{{ current_number }}</span></h2>
        {% endif %}
    </div>
    <div class="highlighted-number-container">
        <span id="highlightedNumber"></span>
        <img src="{{ url_for('static',filename='Image/Esteban.jpg') }}" alt="Imagen 1" id="highlightedImage">
    </div>
    <div class="bingo-table">
        <div class="bingo-column" id="column-b">
            <h2>B</h2>
            {% for number in numeros_sorteados if 1 <= number <=15 %} <p>{{ number }}</p>
                {% endfor %}
        </div>
        <div class="bingo-column" id="column-i">
            <h2>I</h2>
            {% for number in numeros_sorteados if 16 <= number <=30 %} <p>{{ number }}</p>
                {% endfor %}
        </div>
        <div class="bingo-column" id="column-n">
            <h2>N</h2>
            {% for number in numeros_sorteados if 31 <= number <=45 %} <p>{{ number }}</p>
                {% endfor %}
        </div>
        <div class="bingo-column" id="column-g">
            <h2>G</h2>
            {% for number in numeros_sorteados if 46 <= number <=60 %} <p>{{ number }}</p>
                {% endfor %}
        </div>
        <div class="bingo-column" id="column-o">
            <h2>O</h2>
            {% for number in numeros_sorteados if 61 <= number <=75 %} <p>{{ number }}</p>
                {% endfor %}
        </div>
    </div>
    <!-- Importa la biblioteca de Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/tablero.js') }}"></script>
</body>

</html>